 /* 清除标签内外边距 */
 * {
     padding: 0;
     margin: 0;
 }


 /* 响应式 */

 /* PC端 */
 @media screen and (min-width: 960px) {
     body {
         width: 70%;
     }

     header {
         height: 55%;
         width: 100%;
     }

     /* 设置文字 */
     #left>span {
         font-size: 30px;
     }

     /* 头部 结束 */
 }

 /* 平板电脑端 */
 @media screen and (max-width: 960px) and (min-width: 750px) {
     body {
         width: 80%;
     }

     header {
         height: 40%;
         width: 100%;
     }

     /* 设置文字 */
     #left>span {
         font-size: 20px;
     }

     .right>div>a>button {
         font-size: 2.9em;
     }

     /* 头部 结束 */
 }

 /* 手机端 */
 @media screen and (max-width: 750px) {
     body {
         width: 100%;
     }

     header {
         height: 40%;
         width: 100%;
     }

     /* 设置文字 */
     #left>span {
         font-size: 20px;
     }

     .right>div>a>button {
         font-size: 2.9em;
     }

     /* 头部 结束 */
 }





 html,
 body {
     margin: 0 auto;
     height: 100%;
     background-color: #2D303B;
 }

 /* 头部 开始 */

 header {
     background-size: 100%100%;
     background-color: #2D303B;
     position: relative;
 }

 /* 设置标题 */
 #biao-ti {
     width: 99.7%;
     height: 25%;
     background-color: rgba(255, 255, 255, 0.3);
     backdrop-filter: blur(9px);
     position: absolute;
     bottom: 0;
 }

 /* 标题 左 */
 #left {
     width: 70%;
     height: 100%;
     float: left;
 }

 /* 让图片待在该待的地方,并限制大小  */
 #left>div {
     width: 15%;
     height: 80%;
     padding: 1.5%;
     float: left;
 }

 /* 设置图片大小 */
 #left>div>img {
     height: 100%;
 }

 #left>span {
     float: left;
     padding: 1.5%;
 }

 /* 设置加粗 */
 #bolder {
     font-weight: bolder;
     color: black;
 }

 /* 标题 右 */
 .right {
     width: 30%;
     height: 100%;
     float: right;
 }

 .right>div {
     padding: 5%;
 }

 .right>div>a>button {
     width: 100%;
     height: 100%;
 }

 /* 头部 结束 */



 /* 内容 开始 */

 .text {
     width: 100%;
     height: auto;
     /* height: 400px; */
     margin: 0 auto;
     background-color: rgba(233, 253, 255, 0.5);
     border: 3px solid rgb(20, 19, 19);
     border-radius: 15px;
     margin-top: 30px;
     position: relative;
 }

 .text>dl>dt {
     font-size: 2em;
     text-align: center;
 }

 .text>dl>dd {
     padding: 0 2% 1% 2%;
     font-size: 20px;
 }

 .text>dl>dd>li>a>img {
     width: 100%;
     margin-top: 10px;
 }

 .text>dl>dd>ol>li {
     display: block;
     font-size: 20px;
 }

 /* 内容 结束 */

 #xia-zai>p {
     font-size: 2.5em;
     text-align: center;
 }