* {
    margin: 0;
    padding: 0;
}

/* 设置背景图片 */
@media screen and (min-width: 960px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/09/CXIwO.jpg);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 960px) and (min-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/11/Cm0re.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 750px) {
    body {
        background: url(https://s1.328888.xyz/2022/06/19/0kDkT.png);
        background-repeat: no-repeat;
        background-size: 100%100%;
        background-attachment: fixed;
    }
}

/* 删除下划线 */
a {
    text-decoration: none;
}


/*给父系元素添加高度用于 height: 100%  定位*/

html,
body,
#PC-ruan-jian {
    height: 100%;
}


/* 左边菜单栏的样式设计 开始*/

#bian_lan {
    height: 95%;
    width: 15%;
    margin-top: 15px;
    background-color: rgba(218, 218, 218, 0.595);
    float: left;
    border: 2px solid #000000;
    border-radius: 10px;
    /*隐藏溢出*/
    overflow: hidden;
    /*添加滚动条*/
    overflow-y: scroll;
}

#bian_lan>div {
    margin-top: 10px;
}

ul,
font {
    text-align: center;
}


li {
    margin-bottom: 10px;
}



/* 左边菜单栏的样式设计 结束*/

/* 右边内容的样式设计 开始*/

#xian_shi {
    float: right;
    width: 80%;
    height: 95%;
    margin: 15px 15px 0px 0px;
    border: 2px dashed aqua;
    border-bottom: 2px dashed yellow;
}

/* 右边内容的样式设计 结束*/





/* 设置按钮 开始 */


/* 设置按钮主体 */
button {
    width: 70%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blueviolet;
    font-size: 20px;
    margin-top: 10px;
}

/* 设置按钮点击效果 */
button:active {
    margin-top: 10px;
    width: 70%;
    height: auto;
    color: white;
    border-radius: 5px;
    background: #4a9bfa;
    opacity: 0.5;
}

/* 设置按钮 结束 */


/*去除页面滚动条 开始*/
body::-webkit-scrollbar {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}

/*去除页面滚动条 结束*/