div#fan_hui {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100px;
}

body {
	background-image: url(https://s1.328888.xyz/2022/06/16/0QTtF.png);
	background-repeat: no-repeat;
	background-size: 100%100%;
	background-attachment: fixed;
}

/* 去除滑动条并且不会失去滑动功能 */
body::-webkit-scrollbar {
	display: none;
}


/*表格样式*/
table {
	border: 0;
}

p {
	font: normal 15px/20px Arial;
}

td {
	font: normal 15px/20px Arial;
	padding: 2px;
	width: 100px;
}

th {

	text-align: left;
	/*整体大小*/
	padding: 10px;
	/*下线*/
	border-bottom: 2px solid magenta;
	/*表格左右间距*/
	width: 500px;
}

.even {
	background: #FFF38F;
}

/* 偶数行样式*/
.odd {
	background: #FFFFEE;
}

/* 奇数行样式*/
.selected {
	background: #FF6500;
	color: #fff;
}

/*表格文字居中*/
th {
	text-align: center;
}

/*黄*/
.a1 {
	color: yellow;

}

/*橙*/
.a4 {
	color: orange;
}

/*绿*/
.a7 {
	color: #00FF00;
}

/*紫*/
.a8 {
	color: magenta;
}

/*白*/
.a9 {
	color: #FFFFFF;
}

a {
	text-decoration: none;
}