button {
    border-radius: 10px;
    font-size: 45px;
    background-color: #FFCC66;
}


li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* 设置按钮点击效果 */
button:active {
    color: black;
    border-radius: 5px;
    background: #FFCC66;
    opacity: 0.5;
}

/* 去除滑动条并且不会失去滑动功能 */
body::-webkit-scrollbar {
    display: none;
}